{%extends 'base.html'%}

{%load static%}
<!DOCTYPE html>
<html lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'assets/images/favicon.ico'%}" />


    <!-- Minify Version -->

</head>

<body>
    {%block content%}
    <main class="main-wrapper">


        <!-- ...::: Start Breadcrumb Section :::... -->
        <div class="breadcrumb-section section-bg overflow-hidden pos-relative">
            <div class="breadcrumb-shape-top-left"></div>
            <div class="breadcrumb-shape-bottom-right"></div>
            <div class="breadcrumb-box">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">My Blog</h2>
                                <ul class="breadcrumb-link">
                                    <li><a href="{%url 'home'%}">Home</a></li>
                                    <li class="active" aria-current="page">Blogs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ...::: End Breadcrumb Section :::... -->

        <!-- ...::: Start Blog List Section :::... -->
        <div class="blog-list-section section-mt-165">
            <div class="blog-list-box">
                <div class="container">
                    <div class="row flex-lg-row-reverse flex-column-reverse">
                        <div class="col-xl-4 col-lg-5">
                          <!-- Start Sidebar Widget Area-->
                          <div class="sidebar-widget-area">

                            <!-- Start Sidebar Widget Single Item - Search Widgets -->
                            <div class="sidebar-widget-single-area search-widgets">
                                <form class="search-widgets-box" action="{%url 'search'%}" method="get">
                                    <input type="search" name="query" placeholder="Search here">
                                    <button><i class="icofont-search-1"></i></button>
                                </form>
                            </div>
                            <!-- End Sidebar Widget Single Item - Search Widgets -->

                            <!-- Start Sidebar Widget Single Item - Catagory Widgets -->
                            <div class="sidebar-widget-single-area catagory-widgets">
                                <h3 class="title">Category</h3>
                                <ul class="widget-nav-list catagory-item-list">
                                    {%for cat in categories%}
                                    <li><a href="{% url 'category_list' category_slug=cat.slug %}"><span class="text">{{cat.name}}</span><span class="icon"><i class="icofont-double-right"></i></span></a></li>
                                    {%endfor%}
                                </ul>
                            </div>
                            <!-- End Sidebar Widget Single Item - Catagory Widgets -->

                            <!-- Start Sidebar Widget Single Item - Resume Widgets -->
                            <div class="sidebar-widget-single-area resume-widgets">
                                <h3 class="title">Resume</h3>
                                <ul class="widget-nav-list resume-item-list">
                                    <li><a href="#"><span class="text">Get Resume.pdf</span><span class="icon"><i class="icofont-file-pdf"></i></span></a></li>
                                    <li><a href="#"><span class="text">Get Resume.doc</span><span class="icon"><i class="icofont-file-word"></i></span></a></li>
                                    <li><a href="#"><span class="text">Get Resume.ppt</span><span class="icon"><i class="icofont-file-powerpoint"></i></span></a></li>
                                </ul>
                            </div>
                            <!-- End Sidebar Widget Single Item - Resume Widgets -->

                            <!-- Start Sidebar Widget Single Item - Recent Post Widgets -->
                            <div class="sidebar-widget-single-area recentpost-widget">
                                <h3 class="title">Recent Post</h3>
                                <ul class="recent-blog-item-list">
                                    {%for posts in related_posts%}
                                    <li>
                                        <a href="{%url 'blog-detail' posts.pk %}" class="image">
                                            <img src="{{posts.image.url}}" alt="">
                                        </a>
                                        <div class="content">
                                            <h4 class="title"><a href="{%url 'blog-detail' posts.pk %}">{{posts.title | title}}</a></h4>
                                            <div class="post-meta">
                                                <a href="#" class="date icon-space-right"><i class="icofont-calendar"></i> {{posts.publish_date}}</a>
                                            </div>
                                        </div>
                                    </li>
                                    {%endfor%}
                                    
                                    
                                </ul>
                            </div>
                            <!-- End Sidebar Widget Single Item - Recent Post Widgets -->

                            <!-- Start Sidebar Widget Single Item - Social Widgets -->
                            <div class="sidebar-widget-single-area ">
                                <h3 class="title">Follow Me</h3>
                                <ul class="social-link">
                                    <li><a href="https://www.linkedin.com/in/amirjon-karimov" target="_blank"><i class="icofont-linkedin"></i></a></li>
                                    <li><a href="https://www.instagram.com/amirjonkarimov.blog" target="_blank"><i class="icofont-instagram"></i></a></li>
                                    <li><a href="https://www.t.me/Amirjon_Karimov_Blog" target="_blank"><i class="icofont-telegram"></i></a></li>
                                </ul>
                            </div>
                            <!-- End Sidebar Widget Single Item - Social Widgets -->
                          </div>
                          <!-- End Sidebar Widget Area-->
                        </div>
                        <div class="col-xl-8 col-lg-7">
                            <!--  Start Blog List  -->
                            <div class="blog-list">
                                <!-- Start Blog List  Single Item-->
                                 {%for post in posts%}
                                <div class="blog-list-single-item">
                                    <div class="inner-shape inner-shape-top-right"></div>
                                    <a href="{%url 'blog-detail' post.pk%}" class="image">
                                        <img src="{{post.image.url}}" alt="">
                                    </a>
                                    <div class="content">
                                        <div class="post-meta-1">
                                            <a href="{% url 'category_list' category_slug=post.category.slug %}" class="catagory">{{post.category}}</a>
                                            <a href="#" class="date">{{post.publish_date}}</a>
                                        </div>
                                        <h4 class="title"><a href="{%url 'blog-detail' post.pk%}">{{post.title}}</a></h4>

                                        <div class="post-meta-2">
                                            <a href="#" class="icon-space-right"><i class="icofont-ui-user"></i>{{post.author | title}}</a>
                                            <a href="{% url 'like_post' request.session.user_id post.pk %}" class="icon-space-right"><i class="icofont-heart"></i> {{ post.likes.all.count }}</a>                           
                                            <a href="#" class="icon-space-right"><i class="icofont-speech-comments"></i>{{post.comments.all.count}}</a>
                                            <a href="{% url 'like_post' request.session.user_id post.pk %}" class="icon-space-right"><i class="icofont-eye"></i>{{ post.views }}</a>                           

                                        </div>
                                        
                                    </div>
                                </div>
                                {%endfor%}
                                <!-- End Blog List  Single Item-->
                                
                            </div>
                            <!--  End Blog List   -->

                            <div class="d-flex justify-content-center justify-content-lg-start">
                                <!--  Start Pagination  -->
                                <div class="pagination">
                                    <div class="row">
                                        <div class="col-12">
                                            <ul class="pagination-nav-list">
                                                {% if posts.has_previous %}
                                                    <li class="prev"><a href="?page={{ posts.previous_page_number }}"><i class="icofont-double-left"></i></a></li>
                                                {% endif %}
                                                
                                                {% for num in posts.paginator.page_range %}
                                                    {% if posts.number == num %}
                                                        <li class="active"><a href="#">{{ num }}</a></li>
                                                    {% else %}
                                                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                                
                                                {% if posts.has_next %}
                                                    <li class="next"><a href="?page={{ posts.next_page_number }}"><i class="icofont-double-right"></i></a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--  End Pagination  -->
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ...::: End Blog List Section :::... -->

        <!-- ...::: Start Company Logo Display Section :::... -->
        <br><br><br>
        <button class="material-scrolltop" type="button"></button>
    </main>

    
   
    {%endblock content%}

</body>

</html>
