{% extends 'base.html' %}
{%load static%}
<!DOCTYPE html>
<html lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lendex - Personal Portfolio Bootstrap Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'assets/images/favicon.ico'%}" />



</head>

<body>
    {% block content %}
    <main class="main-wrapper">
        <!-- .....:::::: Start Header Section :::::.... -->

        <!-- .....:::::: End Header Section :::::.... -->

        <!-- .....:::::: Start Mobile Header Section :::::.... -->
    
        <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

        <!-- Offcanvas Overlay -->
        <div class="offcanvas-overlay"></div>

        <!-- ...::: Start Breadcrumb Section :::... -->
        <div class="breadcrumb-section section-bg overflow-hidden pos-relative">
            <div class="breadcrumb-shape-top-left"></div>
            <div class="breadcrumb-shape-bottom-right"></div>
            <div class="breadcrumb-box">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">Services Details</h2>
                                <ul class="breadcrumb-link">
                                    <li><a href="{%url 'services'%}">Service</a></li>
                                    <li class="active" aria-current="page">Service Details</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ...::: End Breadcrumb Section :::... -->

        <!-- ...::: Start Service Details Section :::... -->
        <div class="service-details-section section-gap-tb-165">
            <div class="service-details-box">
                <div class="container">
                    <div class="row flex-lg-row flex-column-reverse">
                        <div class="col-xl-4 col-lg-5">
                            <!-- Start Sidebar Widget Area-->
                            <div class="sidebar-widget-area">
                                <!-- Start Sidebar Widget Single Item - Catagory Widgets -->
                                <div class="sidebar-widget-single-area catagory-widgets">
                                    <h3 class="title">Category</h3>
                                    <ul class="widget-nav-list catagory-item-list">
                                        {% for servicess in object_list %}
                                            <li><a href="#"><span class="text">{{servicess.title.title}}</span><span class="icon"><i class="icofont-double-right"></i></span></a></li>
                                        {%endfor%}

                                    </ul>
                                </div>
                                <!-- End Sidebar Widget Single Item - Catagory Widgets -->

                                <!-- Start Sidebar Widget Single Item - Resume Widgets -->
                                <div class="sidebar-widget-single-area resume-widgets">
                                    <h3 class="title">Resume</h3>
                                    <ul class="widget-nav-list resume-item-list">
                                        <li><a href="{%static 'Amirjon_Karimov_CV.pdf'%}"><span class="text">Get
                                                    Resume.pdf</span><span class="icon"><i
                                                        class="icofont-file-pdf"></i></span></a></li>
                                        <li><a href="#"><span class="text">Get Resume.doc</span><span class="icon"><i
                                                        class="icofont-file-word"></i></span></a></li>
                                        <li><a href="#"><span class="text">Get Resume.ppt</span><span class="icon"><i
                                                        class="icofont-file-powerpoint"></i></span></a></li>
                                    </ul>
                                </div>
                                <!-- End Sidebar Widget Single Item - Resume Widgets -->
                            </div>
                            <!-- End Sidebar Widget Area-->
                        </div>
                        <div class="col-xl-7 col-lg-7 offset-xl-1">
                            <!-- Start Service Content Section -->
                            <div class="service-content-section">
                                <div class="content-hero-image">
                                    <img src="{{ service.photo }}" alt="">
                                </div>
                                <!-- Start Section Content -->
                                <div class="default-content-style pos-relative">
                                    <span class="section-tag">service</span>
                                    <h2 class="title">{{service.subtitle.title}}</h2>
                                    <p>{{service.description}}</p>
                                    <h3 class="sub-title">Why Choose Me?</h3>
                                    <p>{{service.why_choose_me}}</p>
                                   <ul class="content-list-item content-list-with-text">
                                        {%for service_text in service.services_text.all %}
                                        <li>
                                            <div class="left">
                                                <h4 class="list-title">{{service_text.title}}</h4>
                                            </div>
                                            <div class="right">
                                                <p>{{service_text.text}}</p>
                                            </div>
                                        </li>
                                        {%endfor%}
                                        
                                    </ul>

                                    <h3 class="sub-title">My Service Planing</h3>
                                    <p>{{service.plans_text}}</p>
                                </div>
                                <!-- End Section Content -->
                            </div>
                            <!-- End Service Content Section -->
                            <ul class="pricing-area">
                                <!-- Start Pricing Single Item -->
                                {% if basic_service %}
                                <li class="pricing-single-item">
                                    <div class="inner-shape inner-shape-top-right"></div>
                                    <h4 class="name">Basic</h4>
                                    <h2 class="value">${{ basic_service.price|floatformat:"-2" }}</h2>
                                    <span class="time">/mo</span>
                                        {% for desc in basic_service.description.all %}
                                            <p>{{ desc.text }}</p>    
                                        {% endfor %}
                                    <a href="#" class="btn btn-lg btn-outline-one">Get Started</a>
                                </li>
                                {% endif %}
                                <!-- End Pricing Single Item -->
                            
                                <!-- Start Pricing Single Item -->
                                {% if standard_service %}
                                <li class="pricing-single-item">
                                    <div class="inner-shape inner-shape-top-right"></div>
                                    <h4 class="name">Standard</h4>
                                    <h2 class="value">${{ standard_service.price|floatformat:"-2" }}</h2>
                                    <span class="time">/mo</span>
                                        {% for desc in standard_service.description.all %}
                                            <p>{{ desc.text }}</p>    
                                        {% endfor %}
                                    <a href="#" class="btn btn-lg btn-outline-one">Get Started</a>
                                </li>
                                {% endif %}
                                <!-- End Pricing Single Item -->
                            
                                <!-- Start Pricing Single Item -->
                                {% if premium_service %}
                                <li class="pricing-single-item">
                                    <div class="inner-shape inner-shape-top-right"></div>
                                    <h4 class="name">Premium</h4>
                                    <h2 class="value">${{ premium_service.price|floatformat:"-2" }}</h2>
                                    <span class="time">/mo</span>
                                    
                                        {% for desc in premium_service.description.all %}
                                            <p>{{ desc.text }}</p>    
                                        {% endfor %}
                                    
                                    <a href="#" class="btn btn-lg btn-outline-one">Get Started</a>
                                </li>
                                {% endif %}
                                <!-- End Pricing Single Item -->
                            </ul>
                            
                            <!-- End Pricing Area -->
                            <!-- End Pricing Area -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ...::: End Service Details Section :::... -->

        <!-- ...::: Start Company Logo Display Section :::... -->
        <div class="company-logo-display  section-bg-2  section-gap-tb-165">
            <div class="company-logo-display-box">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <!-- Start Section Content -->
                            <div class="section-content pos-relative">
                                <span class="section-tag">Favourite Clients</span>
                                <h2 class="section-title">Work With Trusted Comapny.</h2>
                            </div>
                            <!-- End Section Content -->
                        </div>
                    </div>

                    <div class="company-logo-display-wrapper">
                        <div class="row">
                            <div class="col">
                                <div class="company-logo-display-slider">
                                    <!-- Slider main container -->
                                    <div class="swiper-container">
                                        <!-- Additional required wrapper -->
                                        <div class="swiper-wrapper">
                                            <!-- Start Company Logo Slider Single Item -->
                                            <div class="company-logo-single-item swiper-slide">
                                                <a href="#" class="image">
                                                    <img src="{%static 'assets/images/company-logo/company-logo-1.png'%}"
                                                        alt="">
                                                    <img src="{%static 'assets/images/company-logo/1.png'%}" alt="">
                                                </a>
                                            </div>
                                            <!-- End Company Logo Slider Single Item -->
                                            <!-- Start Company Logo Slider Single Item -->
                                            <div class="company-logo-single-item swiper-slide">
                                                <a href="#" class="image">
                                                    <img src="{%static 'assets/images/company-logo/company-logo-2.png'%}"
                                                        alt="">
                                                    <img src="{%static 'assets/images/company-logo/2.png'%}" alt="">
                                                </a>
                                            </div>
                                            <!-- End Company Logo Slider Single Item -->
                                            <!-- Start Company Logo Slider Single Item -->
                                            <div class="company-logo-single-item swiper-slide">
                                                <a href="#" class="image">
                                                    <img src="{%static 'assets/images/company-logo/company-logo-3.png'%}"
                                                        alt="">
                                                    <img src="{%static 'assets/images/company-logo/3.png'%}" alt="">
                                                </a>
                                            </div>
                                            <!-- End Company Logo Slider Single Item -->
                                            <!-- Start Company Logo Slider Single Item -->
                                            <div class="company-logo-single-item swiper-slide">
                                                <a href="#" class="image">
                                                    <img src="{%static 'assets/images/company-logo/company-logo-4.png'%}"
                                                        alt="">
                                                    <img src="{%static 'assets/images/company-logo/4.png'%}" alt="">
                                                </a>
                                            </div>
                                            <!-- End Company Logo Slider Single Item -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ...::: End Company Logo Display Section :::... -->

        <!-- ...::: Start Footer Section :::... -->
    
        <!-- ...::: End Footer Section :::... -->

        <!-- material-scrolltop button -->
        <button class="material-scrolltop" type="button"></button>
    </main>



    {%endblock content%}



</body>

</html>